#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

/* Dashboard */



body {
  background: #2f3640;
  color: #f5f6fa;
}

.grid1{
  margin: 0 auto;
  max-width: 70em;
  padding: 1em 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20vw 30vw 10vw;
  grid-gap: 1em;
}


footer {
  grid-column: 1 / span 2;
  background: #0097e6;
}

main{
  background:#8c7ae6;
}

aside{
  background: #e1b12c;
}

main, aside, footer {
  display: flex;
  align-items: center;
  justify-content: center;

}
#dataArt {
	background-color: #2f3640;
	border: solid black 3px;
	height: 100%;
	width: 100%;
	margin-left: -5px;
}

label{
	font-family: sans-serif;
}